{% extends 'base.html.twig' %}

{% block title %}Ajouter un souhait{% endblock %}


{% block body %}

<h1 class="text-center mt-4">Ajouter un souhait</h1>
{% include "wishes/_form.html.twig" %}

{% endblock %}