{% extends 'base.html.twig' %}

{% block title %}Modifier un souhait{% endblock %}


{% block body %}

<h1 class="text-center mt-4">Modifier un souhait</h1>
{% include "wishes/_form.html.twig" with {'button_label':'Modifier'} %}

{% endblock %}